body{background-color:#fff;color:#222;font-size:14px;line-height:22px;font-family:'Open Sans', sans-serif;font-weight:400;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, p, a, ul, li, span{padding:0;margin:0;}
a:focus{outline:none;}
a:hover{text-decoration:none;transition:all 400ms;}
h1{color:#0093dd;font-size:28px;line-height:25px;padding:0 0 10px 0;font-weight:700;font-family:'Open Sans', sans-serif;}
h2{color:#222;font-size:24px;line-height:24px;padding:0 0 25px 0;font-weight:700;font-family:'Open Sans', sans-serif;text-transform:capitalize;}
h3{color:#0093dd;font-size:20px;line-height:30px;padding:0 0 10px 0;font-weight:700;font-family:'Open Sans', sans-serif;}
h4{color:#fff;font-size:20px;line-height:24px;font-weight:600;font-family:'Open Sans', sans-serif;padding:15px;}
h5{color:#222;font-size:20px;line-height:24px;font-weight:600;font-family:'Open Sans', sans-serif;padding:0 0 10px 0;}
h6{}
p{color:#222;font-size:14px;line-height:20px;padding:0 0 13px 0;}
.wrapper{position:relative;}
header{padding:0 0 0 0;}
header .header-top{border-bottom:1px solid #dee5e8;margin:0 0 15px 0;padding:5px 0 5px 0;-webkit-box-shadow:0 8px 6px -4px #ececec;-moz-box-shadow:0 8px 6px -4px #ececec;box-shadow:0 8px 6px -4px #ececec;}
header .header-top p{font-size:13px;padding:15px 0 5px 0;}
header .socialicons-list{margin:0 0 0 0;}
header .socialicons-list i{margin:15px 4px 0 4px;display:inline-block;padding:0;color:#ff8400 !important;}
header .socialicons-list .header-btns li a i{color:#ffffff !important;}
header ul.header-btns{}
header ul.header-btns li{display:inline-block;}
header ul.header-btns li a{display:inline-block;text-align:center;padding:0 22px;line-height:42px;color:#fff;text-transform:uppercase;font-size:14px;transition:all 300ms;background-color:#222;margin:0;font-weight:600;}
header .main-header{}
header .main-header a.logo{display:inline-block;height:auto;padding:0;}
header .main-header .navbar-default{background:transparent;border:0;}
header .main-header .navbar-nav > li{margin:20px 0 0 0;}
header .main-header .navbar-nav > li > a{position:relative;font-size:14px;color:#222;font-weight:normal;padding:12px 18px;}
header .main-header .navbar-nav > li > a:hover{color:#fff;}
header .main-header .navbar-nav > li > a, header .main-header .navbar-nav > li > a:before, header .main-header .navbar-nav > li > a:after{transition:all .5s;}
header .main-header .navbar-nav > li a:after{display:block;position:absolute;top:0;left:0;bottom:0;right:0;margin:auto;width:100%;height:1px;content:'.';color:transparent;background:#0294db;visibility:hidden;opacity:0;z-index:-1;}
header .main-header .navbar-nav > li > a:hover:after{opacity:1;visibility:visible;height:100%;}
header .main-header .navbar-nav li.dropped > a{background:#0294DB;color:#fff;}
header .main-header .navbar-nav li ul.dropdown-menu{border-radius:0 !important;left:0 !important;min-width:200px;}
header .main-header .navbar-nav li.dropdown-submenu{position:relative;}
header .main-header .navbar-nav li.dropdown-submenu ul.dropdown-menu{position:absolute !important;left:100% !important;top:0 !important;display:none !important;margin:0 !important;margin-left:-1px !important;}
header .main-header .navbar-nav li.dropdown-submenu:hover ul.dropdown-menu{display:block !important;}
header .main-header .navbar-nav li ul.dropdown-menu li a{line-height:32px !important;padding:0 20px;}
@-webkit-keyframes navbar-nav{0%{width:0%;height:1px;}
50%{width:100%;height:1px;}
100%{width:100%;height:100%;background:#333;}
}
.banner{}
.banner .carousel-caption{bottom:0px;}
.banner .carousel-indicators{bottom:0;}
.banner .banner-detail{width:550px;}
.banner ul.banner-list{}
.banner ul.banner-list li{display:inline-block;width:100%;text-align:left;color:#fff;font-size:18px;line-height:20px;padding:0 0 15px 0;font-weight:600;font-family:'Lato', sans-serif;}
.banner ul.banner-list li:before{display:inline-block;content:"\f111";font-size:10px;color:#ffffff;font-family:'FontAwesome';padding-right:10px;}
.banner ul.banner-buttons{margin:10px 0 0 0;}
.banner ul.banner-buttons li{display:inline-block;}
.banner ul.banner-buttons li a{display:inline-block;line-height:45px;padding:0 18px;color:#fff;font-size:16px;font-weight:700;font-family:'Lato', sans-serif;}
.banner ul.banner-buttons li:first-child a{display:inline-block;background:#008bd0;border:3px solid #008bd0;color:#fff;}
.banner ul.banner-buttons li:last-child a{display:inline-block;background:#008bd0;border:3px solid #008bd0;color:#fff;}
.banner ul.banner-buttons li:last-child a span:before{display:inline-block;content:"\f07a";color:#fff;font-size:18px;font-family:'FontAwesome';padding:0 5px 0 0;}
.content{padding:80px 0 0 0;}
.content aside.asidebar{background-color:#eaf0f3;border:1px solid #e2e5e7;padding:20px 10px;}
.content ul.asidebar-list{margin:0 0 30px 0;}
.content ul.asidebar-list li{display:inline-block;width:100%;border-bottom:1px solid #d0d6d8;}
.content ul.asidebar-list li a{display:inline-block;width:100%;color:#222;font-size:15px;line-height:38px;padding:0 0 0 10px;}
.content ul.asidebar-list li a:hover{color:#fff;background-color:#008bd0;}
.content .aside-detailbox{padding:0 0 25px 0;}
.content .aside-detailbox h4{background:url(../images/heading-bg.png) left top repeat;padding:0 10px;line-height:40px;}
.content .currencyrate-detail{background-color:#fff;padding:20px 15px;text-align:center}
.content .currencyrate-row{padding:8px 0 8px 0;border-bottom:1px solid#d0d6d8;color:#29166f;}
.content .currencyrate-row:last-child{border:0;}
.content .currencyrate-row a{display:inline-block;text-align:center;font-size:14px;color:#222;margin:10px 0 0 0;text-transform:capitalize;}
.content .currencyrate-row a:hover{color:#0292df;}
.content .weatherreport-outer{margin:0 0 30px 0;}
.content .weatherreport-outer > img, .content .video-section > img{width:100%;}
.content .video-section{margin:0 0 25px 0;}
.content .button1 a{display:inline-block;width:100%;line-height:42px;font-size:18px;font-weight:600;color:#fff;text-transform:capitalize;background-color:#008bd0;border:1px solid #0193df;padding:0;margin:0;text-align:center;}
.content .news-outer{background:#fff;border:1px solid #dce2e5;padding:25px 15px 0 15px;margin-bottom:25px;}
.content .news-outer ul.news-list{}
.content .news-outer ul.news-list li{display:inline-block;width:100%;border-bottom:1px solid #d0d6d8;}
.content .news-outer ul.news-list li:last-child{border:0;}
.content .news-outer ul.news-list li a{display:inline-block;width:100%;color:#222;font-size:13px;line-height:24px;padding:0 0 0 5px;transition:all 300ms;}
.content .news-outer ul.news-list li a:hover{color:#fff;background-color:#008bd0;}
.content .news-outer a.newsreadmore:hover{color:#0292df;}
.content .news-outer a.newsreadmore{display:inline-block;color:#222;font-size:13px;font-style:italic;font-weight:600;margin:0 0 15px 0;}
.content .main-contentarea p > a{color:#0292df;}
.content .maincontent-detail{border-bottom:1px solid #d0d6d8;margin:0 0 30px 0;}
.content .grap-outer{margin:0 0 28px 0;}
.content .maincontent-list{}
.content .maincontent-list ul{margin:0 0 20px 0;}
.content .maincontent-list ul li{display:inline-block;width:100%;color:#222;font-size:14px;padding:0 0 10px 0;}
.content .maincontent-list ul li:before{display:inline-block;content:"\f111";color:#0193df;font-size:8px;font-family:'FontAwesome';padding:0 10px 0 0;}
.content .accordion-outer{margin:0 0 30px 0;}
.content .panel-default > .panel-heading{background:transparent;border:0;border-radius:0;padding:0;border-top:1px solid #ccc;}
.content .panel-default > .panel-heading:first-child{border-top:none;}
.content h4.panel-title{color:#000000;font-size:17px;font-weight:700;padding:0 10px;line-height:40px;}
.content .panel-heading .accordion-toggle:after{float:right;content:"\f078";font-size:16px;color:#000;font-family:'FontAwesome';}
.content .panel-heading .accordion-toggle.collapsed:after{float:right;content:"\f054";font-size:16px;color:#fff;font-family:'FontAwesome';}
.content .accordion-outer .panel-body table tr{border-bottom:1px solid #d0d6d8;height:35px;}
.content .accordion-outer .panel-body table tr:last-child{border:0;}
.content .accordion-outer .panel-body table tr th{text-align:center;font-size:12px;color:#222;}
.content .accordion-outer .panel-body{padding:10px 10px 0 10px;border:0;}
.content .accordion-outer .panel-body table tr td{text-align:center;font-size:11px;font-weight:300;}
.content .button2{margin:0 0 18px 0;}
.content .button2 a{display:inline-block;width:100%;background:#008bd0;border:3px solid #008bd0;color:#fff;text-align:center;line-height:42px;font-size:18px;font-weight:600;padding:0;margin:0;}
.content .button2 a > span:before{display:inline-block;content:"\f07a";color:#fff;font-size:18px;font-family:'FontAwesome';padding:0 5px 0 0;}
.content .button3{margin:0 0 18px 0;}
.content .button3 a{display:inline-block;width:100%;background:#87c723;border:3px solid #81be21;color:#fff;text-align:center;line-height:42px;font-size:18px;font-weight:600;padding:0;margin:0;}
.content .button3 a:before{background-color:#81be21 !important;}
.content .button4{margin:0 0 18px 0;}
.content .button4 a{display:inline-block;width:100%;background:#ff8400;color:#fff;text-align:center;line-height:42px;font-size:18px;font-weight:600;padding:0;margin:0;}
.content .button4 a:before{background-color:#fe8d14 !important;}
.content .add-section{text-align:center;}
.content .add-section img{margin:18px auto 0 auto;}
.content .payment-methods{padding:70px 0;}
.content .payment-methods h4{text-align:center;color:#222;font-size:38px;line-height:42px;font-weight:600;font-family:'Lato', sans-serif;padding:0 0 40px 0;}
.content .payment-methods ul{}
.content .payment-methods ul li{display:inline-block;margin:0 0 0 15px;}
.content .payment-methods ul li:first-child{margin:0 0 0 8px;}
.content .newsletter-section{background-color:#0094dd;}
.content .newsletter-inner{width:640px;margin:0 auto;padding:18px 0;min-height:80px;}
.content .newsletter-inner h5{color:#fff;font-size:24px;line-height:35px;}
.content .newsletter-inner form{position:relative;}
.content .newsletter-inner form input[type="text"]{position:relative;width:320px;height:32px;background-color:#fff;padding:6px 75px 6px 6px;box-sizing:border-box;border:1px solid #dce2e5;}
.content .newsletter-inner input[type="submit"]{position:absolute;width:68px;height:30px;top:1px;right:1px;background-color:#1e1e1e;color:#fff;font-size:12px;z-index:1;border:0;}
.content .map-section{position:relative;}
.content .map-section img{width:100%;height:395px;}
.content .address-caption{position:absolute;background-color:rgba(0, 0, 0, .7);padding:20px 15px 10px 15px;top:10%;left:10%;width:350px;min-height:245px;z-index:1;}
.content .address-caption h6{color:#fff;font-size:22px;font-weight:600;font-family:'Lato', sans-serif;padding:0 0 15px 0;}
.content .address-caption p{color:#fff;font-size:16px;line-height:26px;}
.subpage-banner{background:url(../images/subpage-banner.png) center center no-repeat;background-size:cover;padding:100px 0 65px 0;}
.subpage-banner h1{font-size:55px;color:#fff;font-weight:600;font-family:'Lato', sans-serif;line-height:42px;padding:0 0 30px 0;}
.content .wc-franchiseouter{background-color:#fff;margin:0 0 30px 0;}
.content .wc-franchiseouter h3{font-size:20px;line-height:45px;color:#fff;text-transform:capitalize;background:url(../images/heading-bg.png) left top repeat;padding:0 0 0 15px;}
.content .wc-franchiseouter ul{}
.content .wc-franchiseouter ul li{display:inline-block;width:100%;border-bottom:1px solid #525252;padding:8px 0;}
.content .wc-franchiseouter ul li:last-child{border:0;}
.content .wc-franchiseouter ul li a{display:inline-block;width:100%;color:#222;font-size:14px;padding:0 10px;box-sizing:border-box;}
.content .wc-franchiseouter ul li a:hover{color:#008bd0;}
.content .franchise-content{}
.content .franchise-content > img{float:left;margin:0 15px 10px 0;border:1px solid #525252;-webkit-box-shadow:0px 2px 3px 0px rgba(50, 50, 50, 0.55);-moz-box-shadow:0px 2px 3px 0px rgba(50, 50, 50, 0.55);box-shadow:0px 2px 3px 0px rgba(50, 50, 50, 0.55);}
.content .main-buttonsarea{padding:30px 0;}
.content .main-buttonsarea ul li{display:inline-block;width:46%;margin:0 3% 15px 0;}
.content .main-buttonsarea ul li:last-child{margin-right:0;}
.content .main-buttonsarea ul li span{color:#222;font-size:18px;line-height:42px;font-weight:600;}
.content .main-buttonsarea ul li a{display:inline-block;width:138px;text-align:center;color:#fff;font-size:15px;font-weight:700;line-height:42px;background-color:#008bd0;}
.content .criteria-section{}
.content .criteria-section ul li{display:inline-block;width:46%;margin:0 2% 25px 0;}
.content .criteria-section ul li:last-child{margin:0 0 20px 0;}
.content .criteria-section ul li a{display:inline-block;}
.content .criteria-section ul li a h3{color:#222;font-size:14px;padding:0 0 10px 0;}
.content .criteria-section ul li a img{width:100%;border:1px solid #525252;}
.content .franchise-content h2{color:#222;font-size:22px;padding-bottom:15px;}
.content .recent-orders{margin:0 0 20px 0;}
.content .recent-orders h4{color:#222;font-size:20px;font-weight:600;padding:0 0 20px 0;}
.content .recentorder-detail table tr:first-child{background:url(../images/order-bg.png) left top repeat-x;}
.content .recentorder-detail table tr th{color:#fff;font-size:14px;padding:5px;text-transform:capitalize;}
.content .recentorder-detail table tr td{color:#222;font-size:13px;border-bottom:1px solid #d0d6d8;padding:5px;text-transform:capitalize;}
.content .shop-outer{}
.content .shop-outer h2{color:#fff;font-size:22px;font-weight:600;font-family:'Lato', sans-serif;padding:0 12px;line-height:45px;background:url(../images/heading-bg.png) left top repeat;margin:0 0 25px 0;}
.content .shop-outer h3{color:#222;font-size:22px;font-weight:500;line-height:22px;padding:0 0 25px 0;}
.content .shop-detail{padding:0 0 40px 0;}
.content .shopdetail-boxouter{width:31%;margin:0 2% 2% 0;min-height:235px;}
.content .shopdetail-box:last-child{margin:0;}
.content .shop-thumbnail{position:relative;width:100%;border:1px solid #dedede;-webkit-box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.44);-moz-box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.44);box-shadow:0px 3px 4px 0px rgba(50, 50, 50, 0.44);z-index:999;cursor:pointer;}
.content .shop-thumbnail img{width:180px;height:150px;}
.content .shop-caption{position:absolute;width:100%;left:0;bottom:0;background-color:#000;z-index:9999;opacity:0;transition:all 300ms;}
.content .shop-caption h4, .content .shop-caption h4 a{color:#fff;text-align:center;font-size:15px;line-height:38px;padding:0;}
.content .shop-thumbnail:hover .shop-caption{opacity:1;}
.content .caption-text h5{color:#222;font-size:13px;line-height:20px;padding:10px 0 0 0;text-align:center;}
.content .caption-text span{display:inline-block;width:100%;color:#222;font-size:13px;line-height:20px;padding:0 0 5px 0;text-align:center;text-align:center;font-style:italic;padding:0 0 5px 0;}
.content .cart-table{}
.content .cart-table table th{background-color:#d8d8d8;font-size:12px;color:#fff;line-height:30px;padding:0 5px;font-weight:600;}
.content .cart-table table td{background-color:#fff;border-bottom:1px solid #ddd;line-height:30px;font-size:12px;padding:0 5px;}
.content .update-btn a{display:inline-block;color:#fff;background-color:#222;font-size:14px;text-transform:uppercase;padding:0 15px;line-height:35px;margin:15px 0;border:0;font-weight:600;}
.content .update-btn a:before{background-color:#000 !important;}
.content .cartotal-table{border:1px solid #d8d8d8;color:#222;font-size:14px;font-weight:500;font-family:'Lato', sans-serif;margin:0 0 30px 0;}
.content .cartotal-table table tr td{padding:10px;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;}
.content .cartotal-table table tr td.subtotal{background-color:#f8f8f8;}
.content .cartotal-table table tr td.total{background-color:#fff;}
.content .terms-condition{margin:30px 0;}
.content .terms-condition input[type="checkbox"]{width:6%;height:6%;}
.content .terms-condition label{width:88%;color:#222;font-size:13px;line-height:18px;font-weight:300;font-style:italic;}
.content .terms-conditionbox textarea{display:inline-block;width:100%;background-color:#d8d8d8;padding:12px 10px;font-size:14px;color:#222;font-weight:300;border:0;}
.content .payment-options{margin:0 0 32px 0;}
.content .payment-optionsdetail{margin:0 0 20px 0;}
.content .payment-optionsdetail input[type="checkbox"]{float:left;}
.content .payment-optionsdetail label{float:left;color:#222;font-size:14px;line-height:20px;margin:0 0 0 15px;width:88%;}
.content .shop-outer img.paymentmethod-thumbnail{margin:0 0 30px 0;width:100%;}
.content .payment-methodform{}
.content .paymentform-row{display:inline-block;width:100%;margin:0 0 10px 0;}
.content .paymentform-row select{display:inline-block;width:100%;background:url(../images/selectfield-arrow.png) 97% center no-repeat #d8d8d8;border:1px solid #d7d7d7;padding:0 10px;box-sizing:border-box;height:38px;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;cursor:pointer;}
.content .paymentform-row input[type="text"]{display:inline-block;width:48%;height:40px;background-color:#d8d8d8;border:1px solid #d7d7d7;font-size:13px;padding:0 10px;box-sizing:border-box;color:#222;}
.content .ordersummary-table{margin:0 0 25px 0;}
.content .ordersummary-table > table tr > td, .content .ordersummary-table > table tr > th{padding:0 15px;}
.content .ordersummary-terms{background-color:#d8d8d8;border:1px solid #d7d7d7;padding:10px 15px;}
.content .ordersummary-terms label{width:92%;}
footer{position:relative;padding:70px 0 50px 0;background-color:#272727;}
footer .footer-top{padding:0;margin:0 0 14px 0;border-bottom:1px solid #525252;}
footer .footer-list h6{color:#fff;font-size:18px;line-height:24px;padding:0 0 20px 0;}
footer .footer-list ul{}
footer .footer-list ul li{display:inline-block;width:100%;}
footer .footer-list ul li a{display:inline-block;color:#fff;font-size:14px;line-height:24px;}
footer .footer-btm{}
footer .footer-btm ul.footer-navigation li{display:inline-block;}
footer .footer-btm ul.footer-navigation li:before{content:'|';font-size:12px;color:#fff;padding:0 2px;}
footer .footer-btm ul.footer-navigation li:first-child:before{content:'';padding-left:0;display:none;}
footer .footer-btm ul.footer-navigation li a{display:inline-block;color:#fff;font-size:14px;line-height:20px;}
footer .footer-btm ul.footer-navigation li a:hover{color:#0094dd;}
footer .socialicons-list i{display:inline-block;padding:0 20px 0 0;cursor:pointer;color:#fff !important;}
footer .socialicons-list i:hover{color:#0094dd !important;}
footer p.footer-text{font-size:14px;color:#fff;padding:13px 0 0 0;}
.chatbox{position:absolute;right:0;bottom:0;width:265px;background-color:#fff;}
.chatbox .chatbox-title{background-color:#0094dd;}
.chatbox .chatbox-title h6{font-size:18px;color:#fff;line-height:40px;padding:0 0 0 15px;}
.chatbox .chatbox-title a.chat-closebtn{color:#fff;font-size:16px;margin:10px 15px 0 0;}
.chatbox .chatbox-detail{padding:20px 15px;display:none;}
.chatbox .chat-row{background-color:#e6e7e9;padding:15px 10px;margin:0 0 15px 15px;}
.chatbox .chat-row2{background-color:#47bbf4;}
.chatbox .chat-row p, .chatbox .chat-row2 p{padding:0;margin:0;}
@media (max-width:1279px){.banner ul.banner-list li{padding:0 0 10px 0;}
.banner ul.banner-list li::before{font-size:8px;}
.banner ul.banner-buttons li a{font-size:13px;line-height:35px;}
}
@media (max-width:1199px){h1{font-size:32px;}
.banner ul.banner-list li{font-size:14px;line-height:16px;padding:0 0 5px 0;}
.banner ul.banner-buttons li a{font-size:12px;line-height:30px;padding:0 10px;}
.content .payment-methods ul li{width:8%;margin:0 0 0 1%;}
.content .payment-methods ul li > img{width:100%;}
footer .footer-list h6{font-size:14px;line-height:16px;}
footer .footer-list ul li a{font-size:12px;}
.content .button1 a{font-size:15px;}
.content .main-buttonsarea ul li span{display:inline-block;width:100%;}
.content .main-buttonsarea ul li a{float:left !important;}
.content .button5 a{font-size:12px;}
.content .news-outer ul.news-list li a{line-height:21px;}
}
@media (max-width:991px){h1{font-size:24px;}
h2{font-size:16px;line-height:18px;padding:0 0 15px 0;}
h5{font-size:16px;line-height:16px;padding:0;}
header .header-top p{text-align:center;padding:0 0 15px 0;}
header ul.socialicons-list{float:none !important;text-align:center;margin:0 0 15px 0;}
header ul.header-btns{float:none !important;text-align:center;}
header .main-header .navbar-nav > li > a{padding:8px 10px;font-size:12px;}
.banner ul.banner-buttons{display:none;}
.subpage-banner ul.banner-buttons{display:block;}
.content{padding:50px 0 0 0;}
.content .button1 a, .content .button2 a, .content .button3 a, .content .button4 a{font-size:10px;line-height:30px;}
.content .news-outer{padding:15px 10px;}
.content .news-outer ul.news-list li a, .content .news-outer a.newsreadmore{font-size:12px;}
.content .payment-methods h4{font-size:24px;line-height:28px;}
footer{padding:30px 0 50px 0;}
footer .footer-list{margin:30px 0 0 0;}
footer .footer-list h6{font-size:18px;line-height:22px;padding:0 0 10px 0;}
footer .footer-list ul li a{font-size:14px;}
footer .footer-btm{text-align:center;}
footer ul.socialicons-list{padding:30px 0 0 0;float:none !important;text-align:center;}
footer p.footer-text{float:none !important;text-align:center;padding:10px 0 0 0;}
.content h4.panel-title{font-size:12px;line-height:24px;padding:8px 10px;}
.content .wc-franchiseouter h3{font-size:20px;line-height:22px;padding:8px 15px;}
.content .wc-franchiseouter ul li a{font-size:12px;}
.content .franchise-content > img{width:100%;margin-bottom:15px;}
}
@media (max-width:767px){header .header-top .col-sm-12.col-lg-5.pull-right{float:none !important;}
header{padding:0;}
header .navbar-toggle{margin-top:30px;}
header .navbar-default .navbar-toggle{background-color:#0094dd;border:1px solid #0094dd;}
header .navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
header .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:#25aef2;}
header .main-header .navbar-nav > li{margin:0;}
header .nav{width:100%;margin:0;}
header .main-header .navbar-nav > li > a, header .main-header .navbar-nav > li > a::before, header .main-header .navbar-nav > li >a::after{transition:none;}
header .navbar-default .navbar-collapse, .navbar-default .navbar-form{margin:10px 0 0 0;background-color:#1e1e1e;padding:0;}
header .main-header .navbar-nav > li > a{color:#fff;font-size:14px;transition:all 300ms;}
header .main-header .navbar-nav > li > a:hover{background-color:#0094dd;}
.banner .carousel-indicators{display:none;}
.banner .carousel-caption{bottom:-10px;}
.banner ul.banner-list li{font-size:18px;}
.content .newsletter-inner{width:auto;}
.content .button1 a, .content .button2 a, .content .button3 a, .content .button4 a{font-size:18px;line-height:40px;}
.content .maincontent-detail{margin:40px 0;}
h1{font-size:32px;}
h2{font-size:24px;padding:0 0 25px 0;}
h5{font-size:20px;line-height:24px;padding:0 0 10px 0;}
.content .news-outer ul.news-list li a, .content .news-outer a.newsreadmore{font-size:13px;}
footer .footer-list{min-height:180px;}
.content .main-buttonsarea ul li span{width:auto;}
.content .main-buttonsarea ul li a{float:right !important;}
.content h4.panel-title{font-size:18px;}
.content .franchise-content > img{width:auto;margin-bottom:0;}
.content .wc-franchiseouter ul li a{font-size:14px;}
.content .currencyrate-detail{padding:10px 15px 0;}
.content .wc-franchiseouter h3{font-size:24px;}
.content aside.asidebar{margin:0 0 30px 0;}
.content .shopdetail-boxouter{min-height:260px;}
.content .terms-condition label{width:92%;}
.content .news-outer ul.news-list li a{line-height:38px;}
ul.nav li.dropdown-submenu ul.dropdown-menu{display:none !important;}
}
@media (max-width:639px){.banner .carousel-caption{bottom:-20px;}
.banner ul.banner-list li{font-size:13px;line-height:13px;}
.banner ul.banner-list li:last-child{display:none;}
.carousel-control.right{z-index:22;}
.content .newsletter-inner h5{width:100%;text-align:center;}
.content .newsletter-inner form{float:none;display:inline-block;width:100%;text-align:center;}
.content .newsletter-inner form input[type="text"]{width:100%;}
.content .address-caption{width:270px;top:12%;left:1.5%;}
.content .map-section img{min-height:290px;}
.content .address-caption p{font-size:12px;line-height:18px;padding:0;}
.banner .banner-detail{width:auto;}
.content .payment-methods ul{text-align:center;}
.content .payment-methods ul li{width:12%;margin:0 0 0 4%;}
.content .main-buttonsarea ul li span{width:100%;}
.content .main-buttonsarea ul li a{float:left !important;width:100%;}
}
@media (max-width:479px){.banner ul.banner-list li{float:left;font-size:13px;line-height:17px;padding:0;}
h1{font-size:20px;padding:0 0 10px 0;}
p, .content .maincontent-list ul li{font-size:13px;line-height:20px;}
h2{font-size:20px;line-height:28px;padding:0 0 15px 0;}
h3{font-size:18px;}
footer .footer-btm ul.footer-navigation li a{font-size:12px;}
footer ul.socialicons-list{padding:20px 0;}
footer p.footer-text{padding:0 0 20px 0;}
.content .payment-methods ul li{width:20%;}
.subpage-banner{padding:80px 0 25px 0;}
.subpage-banner h1{font-size:42px;padding:0;}
.content .franchise-content > img{width:100%;margin-bottom:15px;}
.content .shopdetail-boxouter{min-height:200px;width:44%;margin:0 6% 4% 0;}
.content .payment-optionsdetail label, .content .terms-condition label{font-size:12px;line-height:18px;}
}
@media (max-width:359px){.banner .carousel-caption{bottom:-15px;}
.banner ul.banner-list li:first-child{display:none;}
.content .payment-methods ul li{width:25%;}
footer .footer-list{min-height:210px;}
footer .footer-list h6{font-size:16px;}
footer .footer-list ul li a{font-size:13px;}
header .header-top p{font-size:11px;}
}
.navbar{margin-bottom:8px !important;}
.header-btns > li:first-child a{background:#85c227 !important;}
.header-btns > li:last-child a{background:#29166c !important;}
.brd-bottom{border-bottom:#0094de 2px solid !important;}
.maincontent-detail ul li{padding:0 0 0 12px !important;margin:0 !important;font-size:14px;}
.maincontent-detail li{font-family:'Open Sans', sans-serif;background:url(../images/bullet-green.png) top 17px left no-repeat;list-style:none;padding:10px !important;line-height:1.8em;}
.panel-heading{padding:3px 8px !important;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px;color:#0193de;font-weight:400;font-size:14px;line-height:20px;}
.panel-heading a{padding:0;margin:0;display:block;padding:5px;}
.panel-heading a:hover{background:#008bd0 !important;color:#fff;display:block;padding:5px;}
.padding-10px{padding:15px !important;}
.padd-0{padding:0 !important;}
.content .newsletter-section label{color:#fff !important;font-size:16px;}
.form-bg{background:#eaf0f3;}
.hr{margin-top:2em;background-color:#ddd;border:none;height:1px;}
.grey-border-bottom{border-bottom:#e6e6e6 1px solid !important;}
.margin-bottom-10px{margin-bottom:10px;}
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-nav{margin-top:10px}
.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}
.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}
.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}
.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}
.lng-padd{padding:5px 0 5px 0;}